<% provide(:title, "Log in") %>
<style>
body{
   background-image: url('<%= asset_path("band.jpg")%>');
   background-repeat: repeat;
}

</style>
<body>

<div class="center jumbotron" >

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </span>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <br>

      <%= f.label :password %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <br><br>

      <%= f.submit "Log in", class: "btn btn-danger" %>
    <% end %>

    <br>
    <h5>New user? <%= link_to "Sign up now!", signup_path %></h5>
  </div>
</div>
</div>
</body>
