<%= form_with(model: guest_session_association, local: true) do |form| %>
  <% if guest_session_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest_session_association.errors.count, "error") %> prohibited this guest_session_association from being saved:</h2>

      <ul>
      <% guest_session_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :guest_session_association_user_id %>
  </div>

  <div class="field">
    <%= form.label :jam_session_id %>
    <%= form.number_field :jam_session_id, id: :guest_session_association_session_id %>
  </div>

  <div class="field">
    <%= form.label :player %>
    <%= form.check_box :player, id: :guest_session_association_player %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
