<p id="notice"><%= notice %></p>

<h1>Guest Session Associations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Session</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guest_session_associations.each do |guest_session_association| %>
      <tr>
        <td><%= guest_session_association.user_id %></td>
        <td><%= guest_session_association.session_id %></td>
        <td><%= guest_session_association.player %></td>
        <td><%= link_to 'Show', guest_session_association %></td>
        <td><%= link_to 'Edit', edit_guest_session_association_path(guest_session_association) %></td>
        <td><%= link_to 'Destroy', guest_session_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest Session Association', new_guest_session_association_path %>
