<p id="notice"><%= notice %></p>
<style>
.jumbotron{
  background-color: #F8F8FF;
  text-align: center;
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}
body{
  background-image: url('<%= asset_path("backgroundapp.png")%>');
  background-repeat: repeat;
}
</style>
<body>
  <div class="center jumbotron" >
<h1>My Sessions</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Max players</th>
      <th>Max listeners</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guest_session_associations.each do |guest_session_association| %>
      <tr>
      <% @jam_session= JamSession.where(id:guest_session_association.jam_session_id)%>
      <%unless (@jam_session.pluck(:id)[0]).nil? %>
        <td><%= @jam_session.pluck(:max_players)[0] %></td>
        <td><%= @jam_session.pluck(:max_listeners)[0] %></td>
        <td><%= @jam_session.pluck(:name)[0] %></td>
        <td><%= @jam_session.pluck(:description)[0] %></td>
        <td><%= link_to 'Show', jam_session_path(@jam_session.pluck(:id)[0])%></td>
        <%if @jam_session.pluck(:host_id)[0] == session[:user_id]%>
          <td><%= link_to 'Edit', edit_jam_session_path(@jam_session.pluck(:id)[0]) %></td>
          <td><%= link_to 'Delete Session', jam_session_path(@jam_session.pluck(:id)[0]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Leave Session', guest_session_association_path(guest_session_association.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>

      </tr>
    <%end%>
  </tbody>
</table>

<br>
<br>

<strong><%= link_to 'Join New Session', jam_sessions_path %><strong>
  <br>
  <br>
</div>
</body>
