<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>
<style>
  body{
    background-image: url('<%= asset_path("jam.jpg")%>');
    background-repeat: repeat;
  }

  .jam{
    color: black;
    background-color: #F8F8FF;
    text-align:center;
  }
  h1{
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align:center;
  }
  h2{
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: green;
    text-align:center;
  }
</style>
<div class="jam">
  <br>
<h2><strong>You have joined <%=@jam_session.name%>!</strong></h2>
<p>
  <strong>Host:</strong>
  <%=@host_name %>
</p>

<p>
  <strong>Number of players:</strong>
  <%=  @jam_players_count  %> / <%=@jam_session.max_players%>
</p>

<p>
  <strong>Number of listeners:</strong>
  <%= @jam_listeners_count  %> / <%=@jam_session.max_listeners%>
</p>
<table align="center",style="text-align:center;">
  <thead>
    <tr>
      <th style="text-align:center;">Participants</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>
  <strong>Description:</strong>
  <%= @jam_session.description %>
</p>

<h2><strong>Contact <%=@host_name%></strong></h2>

<br><br>
</div>

</body>



<%= link_to 'Edit', edit_jam_session_path(@jam_session) %> |
<%= link_to 'Back', jam_sessions_path %>
