<% jam_session = JamSession.new %>
<div class="modal fade" id="modal-to-create-jam_session" title="Create Jam Session">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<div>
					<h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          	<span aria-hidden="true">&times;</span>
	        	</button>
						<small>
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
							Jam Session
						</small>
					</h4>
				</div>
				<h3>
					New Jam Session
				</h3>
			</div>

			<%= form_with(model: jam_session, local: true) do |form| %>

				<div class="modal-body">

					  <% if jam_session.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(jam_session.errors.count, "error") %> prohibited this jam_session from being saved:</h2>

					      <ul>
					      <% jam_session.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					      <% end %>
					      </ul>
					    </div>
					  <% end %>

						<div class="field">
							<%= form.label :title %>
							<div class="input-group">
				        <span class="input-group-addon" id="basic-addon1">
				          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				        </span>
				        <%= form.text_field :name, id: :jam_session_name, :required => true, class: 'form-control', placeholder: "Jam Night at Piper's"%>
				      </div>
						</div><br>

						<div class="field">
							<%= form.label :address %>
							<div class="input-group">
				        <span class="input-group-addon" id="basic-addon1">
				          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				        </span>
				        <%= form.text_field :address, id: :jam_session_address, :required => true, class: 'form-control', placeholder: "1 Melody Way, Boston MA" %>
				      </div>
						</div><br>

					  <div class="field">
					    <%= form.label :description %>
					    <%= form.text_area :description, id: :jam_session_description, class: 'form-control', placeholder: "Scream, play, or chill at this all night jam party (or 'till we get shut down). Instruments and mike available. Food and drinks (especially) provided."%>
					  </div><br>

						<div class="row">
							<div class="col-md-6">
								<div class="field">
							    <%= form.label :max_players %>
									<div class="input-group">
						        <span class="input-group-addon" id="basic-addon1">
						          <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
						        </span>
						        <%= form.number_field :max_players, id: :jam_session_max_players, value: 1, class: 'form-control' %>
						      </div>
							  </div>
							</div>

							<div class="col-md-6">
								<div class="field">
							    <%= form.label :max_listeners %>
									<div class="input-group">
						        <span class="input-group-addon" id="basic-addon1">
						          <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
						        </span>
						        <%= form.number_field :max_listeners, id: :jam_session_max_listeners, value: 0, class: 'form-control'%>
						      </div>
							  </div>
							</div>
						</div>

				</div>

				<div class="modal-footer">
					<%= form.submit "Create Jam Session", class: "btn btn-danger" %>
				</div>

	    <% end %>

		</div>
	</div>
</div>
