<%= form_with(model: jam_session, local: true) do |form| %>
  <% if jam_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jam_session.errors.count, "error") %> prohibited this jam_session from being saved:</h2>

      <ul>
      <% jam_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :jam_session_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :max_players %>
    <%= form.number_field :max_players, id: :jam_session_max_players, value:5 %>
  </div>

  <div class="field">
    <%= form.label :max_listeners %>
    <%= form.number_field :max_listeners, id: :jam_session_max_listeners, value:0 %>
  </div>



  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :jam_session_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
