<header>
  <section id="page-top" >

    <body>
      <div class="py-5"></div>
      <div class="py-5">

        <div class="container">





            <div class="col-md-3"  style="padding-right:30px">
                <div class="row">



                  <div class="center jumbotron" style="color:black">
                <div class="card">
                  <div class="card-body">
                    <h4>Filter your search!</h4>
                    <%=form_for_filterrific @filterrific do |f| %>
                      <%= f.text_field(
                        :search_query,
                        class: 'filterrific-periodically-observed',
                        :placeholder => "Search address"
                      )%>
                    <div>
                      <%= f.text_field(
                        :search_query,
                        class: 'filterrific-periodically-observed',
                        :placeholder => "Jam Name"
                      )%>
                    </div>
                                     <%= f.text_field(
                     :search_query,
                     class: 'filterrific-periodically-observed',
                     :placeholder => "Host Name"
                   )%>
                    <div>
                      Genre:
                      <select name="genre">
  <option value="volvo">Any</option>
  <option value="saab">Pop</option>
  <option value="fiat">Rock</option>
  <option value="audi">Funk</option>
</select>
                    </div>
                                 Time:
                 <select name="genre">
                 <option value="volvo">Now</option>
                 <option value="saab">Next 3 Hours</option>
                 <option value="fiat">Next 12 Hours</option>
                <option value="audi">Next 24 Hours</option>
                 </select>
                  <div>
                    <br>
                    <%= link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-primary page-scroll' %>
                  </div>
                <%# add an automated spinner to your form when the list is refreshed %>
                <%= render_filterrific_spinner %>
                  <!-- make it work! -->
                <% end %>

                  </div>
                </div>
              </div>





          </div>
            <div class="row">


                              <div class="center jumbotron" style="color:black">
                              <div class="card">
                              <div class="card-body"style='height: 340px;'>
                                <h4>Your Sessions</h4>
                                <p class=" p-y-1">    <%= render(
                                      partial: 'jam_sessions/yoursessions',
                                      locals: { jam_sessions: @jam_sessions }
                                    ) %></p>
                              </div>
                              </div>
                              <div class="row">
                              <%= link_to 'Find Chords', "#modal-for-tab-index", "data-toggle" => "modal", class: 'btn btn-primary btn-xl page-scroll' %>
                                </div>
                              </div>






            </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                <div class="center jumbotron" style="color:black">
                <div class="card">
                <div class="card-body"style='height: 650px;'>
                  <h4>Jam Sessions</h4>
                  <p class=" p-y-1" style="float:left">  <%= render(
                    partial: 'jam_sessions/list',
                    locals: { jam_sessions: @jam_sessions }
                  ) %></p>
                </div>
                </div>
                <div class="row"><%= link_to "Schedule A Session", "#modal-to-create-jam_session", "data-toggle" => "modal", class: 'btn btn-primary btn-xl page-scroll'%></div>
                </div>

            </div>
            </div>

                  <div class="col-md-6" style="color:black">
                  <div id="map" style='width: 100%; height: 800px; min-height: xxx; overflow: hidden; float: right; padding-right: 0px; margin: 0px'></div></div>
            </div>

        </div>
      </div>
      <div class="py-5"></div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      <script type="text/javascript">

      var locations = [];
      var links = [];
      <% @jam_sessions.each do |location| %>
        var place = [<%= location.latitude %>, <%= location.longitude %>, "<%= location.name %>" ];
        locations.push(place);
        var link_id =  <%= location.id %>
        links.push(link_id);
      <% end %>
      var sliderA = new Slider("#ex16a", { min: 0, max: 10, value: 0, focus: true });
      var sliderB = new Slider("#ex16b", { min: 0, max: 10, value: [0, 10], focus: true });
        function initMap(){
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: new google.maps.LatLng(42.37, -71.2),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            //var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                map: map,
                name: locations[i][2]
             });
             attachInfowindow(marker);
}

           function attachInfowindow(marker) {
            var infowindow = new google.maps.InfoWindow({
              content: marker.name + ': <%= j link_to "Session Info", "#modal-for-jam_session\\:1", "data-toggle" => "modal" %>'
            });

            marker.addListener('click', function() {
              infowindow.open(marker.get('map'), marker);
            });
          }



        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_E9YsDaw5Jfj1HC4WKNjepV_maFzCVAQ&callback=initMap"
      type="text/javascript"></script>
    </body>

  </section>
</header>
<%= render 'jam_sessions/tabs_index_modal'%>
<%@jam_sessions.each do |jam_session|%>
  <%= render 'jam_sessions/jam_modal', jam_session: jam_session %>
<% end %>

<%= render 'jam_sessions/create_jam_modal' %>

<%= render 'jam_sessions/tabs_index_modal'%>

<%= render 'users/edit_modal' %>
