<% id = "modal-for-jam_session:#{jam_session.id}" %>

<div class="modal fade" id='<%= id %>', title="Jam Session">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<div>
					<h4>
						<%= render 'hearts', jam_session: jam_session %>
						<small>
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
							Jam Session
						</small>
					</h4>
				</div>

				<script>
					$($('#hearts-for-jam_session-<%=jam_session.id%>').click(function() {
						<% Heart.toggle current_user, jam_session %>
						$('#hearts-for-jam_session-<%=jam_session.id%>').replaceWith("<%= j render 'hearts', jam_session: jam_session %>");
					}));
				</script>

				<h3>
					<%= jam_session.name %>
				</h3>
				<div class="text-center">
					<% host = User.find(jam_session.host_id) %>
					<span class="small">
						<%= image_tag host.avatar.url(:thumb), class: "img-circle", style: "width: 16px; height: 16px;" %>
					</span>
					Hosted by
					<% if host.id == current_user.id %>
					<%= link_to 'Me', "#modal-for-user-#{current_user.id}", "data-dismiss" => "modal",  "data-toggle" => "modal"%>
					<% else %>
					<%= link_to host.name, "#modal-for-user-#{host.id}", "data-dismiss" => "modal", "data-toggle" => "modal" %>
					<% end %>
				</div>
				<br>

				<div class="row text-center">
					<div class="col-sm-6">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						<e>
							[INSERT ADDRESS HERE]
						</e>
					</div>

					<div class="col-sm-6">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
						<e>
							[INSERT TIME & DATE HERE]
						</e>
					</div>
				</div>
			</div>

			<div class="modal-body">

				<div class="row text-center">
					<% if jam_session.max_players.to_i != 0 %>
						<div class="col-sm-6">
							<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
							Players:
							<%= GuestSessionAssociation.where(jam_session_id: jam_session.id, player: true).distinct.count %>
							/
							<%= jam_session.max_players %>
						</div>
					<% end %>

					<% if jam_session.max_listeners.to_i != 0 %>
						<div class="col-sm-6">
							<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
							Listeners:
							<%= GuestSessionAssociation.where(jam_session_id: jam_session.id, player: false).distinct.count %>
							/
							<%= jam_session.max_listeners %>
						</div>
					<% end %>
				</div>

				<div class="row text-center">
					<% if jam_session.max_players.to_i != 0 %>
						<div class="col-sm-6">
							<% percent_players = 100 * GuestSessionAssociation.where(jam_session_id: jam_session.id, player: true).distinct.count.to_i / jam_session.max_players.to_i %>

							<div class="progress">
	  						<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
								style='width: <%= percent_players %>%'>
	  						</div>
							</div>
						</div>
					<% else %>
						<% percent_players = 100 %>
					<% end %>

					<% if jam_session.max_listeners.to_i != 0 %>
						<div class="col-sm-6">
							<% percent_listeners = 100 * GuestSessionAssociation.where(jam_session_id: jam_session.id, player: false).distinct.count.to_i / jam_session.max_listeners.to_i %>

							<div class="progress">
	  						<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
								style='width: <%= percent_listeners %>%'>
	  						</div>
							</div>
						</div>
					<% else %>
						<% percent_listeners = 100 %>
					<% end %>
				</div>


				<audio controls>
			 	<source src="<%= jam_session.audio_file.url %>" type="audio/mp3">
				</audio>

				<br>
				<em>
					<%= jam_session.description %>
				</em>
				<br>

				</address>
			</div>

			<div class="modal-footer">

				<% if jam_session.host_id == current_user.id %>
					<%= link_to "Cancel Jam Session", jam_session, method: :delete, class: 'btn btn-primary btn-xl page-scroll', data: { confirm: 'Are you sure you want to cancel this jam session?' } %>
				<% elsif guest_session_association = GuestSessionAssociation.find_by(user_id: current_user.id, jam_session_id: jam_session.id) %>
					<%= link_to "Leave Jam Session", guest_session_association, method: :delete, class: 'btn btn-primary btn-xl page-scroll', data: { confirm: 'Are you sure you want to leave this jam session?' } %>
				<% else %>
					<% if percent_players < 100 && jam_session.max_players.to_i != 0 %>
						<%= link_to "Join as Player", guest_session_association_path(id: jam_session.id, player: TRUE), class: 'btn btn-warning' %>
					<% end %>
					<% if percent_listeners < 100 && jam_session.max_listeners.to_i != 0 %>
						<%= link_to "Join as Listener", guest_session_association_path(id: jam_session.id, player: FALSE), class: 'btn btn-info' %>
					<% end %>
				<% end %>

				<%= link_to "#modal-for-chat_message\\:#{jam_session.id}", class: "btn", "data-toggle" => "modal" do %>
    			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				<% end %>
			</div>

		</div>
	</div>
</div>
<%= render 'users/user_profile_modal', user: current_user %>
<%= render 'chat_messages/chat_modal', jam_session: jam_session %>
