<!-- <div id="filterrific_results"> -->
<div class="row" style-"padding:15px;">
  <% @jam_sessions.each do |session| %>
    <br>
    <div class="row" style="border:1px solid #cecece;padding: 15px; box-shadow: -5px 5px 4px #888888;">

      <div class="col-md-1">
      <% host = User.find(session.host_id) %>
  <%= render 'users/user_profile_modal', user: host %>
      <%= link_to image_tag(User.find(id=session.host_id).avatar.url(:thumb)), "#modal-for-user-#{host.id}", "data-dismiss" => "modal",  "data-toggle" => "modal"%>
</div>
  <div class="col-sm-3">
      <% if host.id == current_user.id %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"style="padding-right:3px;">  </span>
      <% else %>
      <% end %>
<%name=session.name%>
<%= link_to  "#modal-for-jam_session\\:#{session.id}", class: "break-word", style: "font-size:150%;overflow-wrap: break-word;", "data-toggle" => "modal" do %>
<p class="break-word" style="display:inline;">  <%=name%></p>
<% end %>


</div>
<div class = "col-sm-2">


  <%= link_to "#modal-for-chat_message\\:#{session.id}", class: "btn", "data-toggle" => "modal" do %>
    <span class="glyphicon glyphicon-comment" aria-hidden="true" style="font-size: 20px;">  </span>
<% end %>
<%= link_to  "#modal-for-jam_session\\:#{session.id}", class: "btn", "data-toggle" => "modal" do %>
<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size: 20px;">  </span>
<% end %>
</div>
<div class = "col-sm-1 ">
  <%if (session.audio_file_file_name != nil) %>
    <audio controls style="width: 150px; color:green;">
    <source src="<%= session.audio_file %>" type="audio/mp3" style="">
    </audio>
  <%end%>
</div>

<div class="col-md-5" style="text-align:right; color: #6A6A6A;">
  <div class="row">
  <%address=session.address%>
  <%if (!address.blank?)%>
    <%=address%>
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true">  </span>
  <%end%>
</div>
  <div class="row">
    <%start_t=session.start_time%>
    <%end_t=session.end_time%>
    <%if (!start_t.blank?)%>
      <%=start_t.strftime("%I:%M %p")%> -
    <%end%>
    <%if (!end_t.blank?)%>
      <%=end_t.strftime("%I:%M %p")%>
          <span class="glyphicon glyphicon-time" aria-hidden="true">  </span>
    <%end%>
  </div>
  <div class="row">
    <%genre=session.genre%>
      <%if (!genre.blank?)%>
        <%=genre%>
                <span class="glyphicon glyphicon-music" aria-hidden="true">  </span>
          <%end%>
  </div>
</div>


    </div>
  <%end%>
</div>
