<p id="notice"><%= notice %></p>

<h1>Jam Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Longitude</th>

      <th>Latitude</th>

      <th>Host</th>
      <th>Max players</th>
      <th>Max listeners</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jam_sessions.each do |jam_session| %>
      <tr>
        <td><%= jam_session.longitude %></td>

        <td><%= jam_session.latitude %></td>
        <td><%= jam_session.host_id %></td>
        <td><%= jam_session.max_players %></td>
        <td><%= jam_session.max_listeners %></td>
        <td><%= jam_session.name %></td>
        <td><%= jam_session.description %></td>
        <td><%= link_to 'Show', jam_session %></td>
        <td><%= link_to 'Edit', edit_jam_session_path(jam_session) %></td>
        <td><%= link_to 'Destroy', jam_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jam Session', new_jam_session_path %>
