<p id="notice"><%= notice %></p>
<style>
  body{
    background-image: image-url('/assets/jam.jpg');
    background-repeat: repeat;
  }

  .jam{
    color: black;
    background-color: #F8F8FF;
    text-align:center;
  }
  h1{
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align:center;
  }
</style>
<div class="jam">
  <br>
<h1><strong><%=@jam_session.name%></strong></h1>
<br>
<p>
  <strong>Host:</strong>
  <%= @name[0]%>
</p>

<p>
  <strong>Max players:</strong>
  <%= @jam_session.max_players %>
</p>

<p>
  <strong>Max listeners:</strong>
  <%= @jam_session.max_listeners %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jam_session.description %>
</p>

<br><br>
</div>

</body>



<%= link_to 'Edit', edit_jam_session_path(@jam_session) %> |
<%= link_to 'Back', jam_sessions_path %>
