<p id="notice"><%= notice %></p>
<style>
  body{
    background-image: url('/assets/jam.jpg');
    background-repeat: repeat;
  }

  div{
    color: black;
    background-color: #F8F8FF;
    text-align:center;
  }
</style>

<p>
  <strong>Latitude:</strong>
  <%= @jam_session.latitude %>
</p>

<p>
  <strong>Host:</strong>
  <%= @jam_session.host_id %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @jam_session.max_players %>
</p>

<p>
  <strong>Max listeners:</strong>
  <%= @jam_session.max_listeners %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jam_session.description %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @jam_session.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @jam_session.latitude %>
</p>
<br><br>
</div>

</body>



<%= link_to 'Edit', edit_jam_session_path(@jam_session) %> |
<%= link_to 'Back', jam_sessions_path %>
