<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>
<div class="field">
  <%= form.label :avatar, "Photo" %>
  <%= form.file_field :avatar %>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
