<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :user_city %>
  </div>
  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :user_genre %>
  </div>
  <div class="field">
    <%= form.label :instruments %>
    <%= form.text_field :instruments, id: :user_instruments %>
  </div>
  <div class="field">
    <%= form.label :fav_artist %>
    <%= form.text_field :fav_artist, id: :user_fav_artist %>
  </div>
  <div class="field">
    <%= form.label :playlist %>
    <%= form.text_field :playlist, id: :user_playlist %>
  </div>
  <div class="field">
    <%= form.label :links %>
    <%= form.text_field :links, id: :user_links %>
  </div>
  <div class="field">
    <%= form.label :intro_message %>
    <%= form.text_field :intro_message, id: :user_intro_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
