<div class="modal fade" id="modal-for-user-<%= user.id %>" title="User Profile">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<div>
					<h4>
						<small>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							User Profile
						</small>
					</h4>
				</div>
				<h3>
					<%= user.name %>
				</h3>
			</div>

			<div class="modal-body">
				<%= user.email %>
				<%= image_tag user.avatar.url(:thumb) %>
			</div>

			<% if user == current_user %>

				<div class="modal-footer">
					<%= link_to "Edit", '#modal-for-editing-user', class: "btn btn-primary btn-xl page-scroll", "data-toggle" => "modal" %>
				</div>

			<% end %>

		</div>
	</div>
</div>
