<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Genre</th>
      <th>Instruments</th>
      <th>Current Favorite Artists</th>
      <th>Spotify Playlist</th>
      <th>Links to Music</th>
      <th>Introduction Message</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.city %></td>
        <td><%= user.genre %></td>
        <td><%= user.intruments %></td>
        <td><%= user.favorites %></td>
        <td><%= user.playlists %></td>
        <td><%= user.links %></td>
        <td><%= user.intro %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
