<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <br>

      <%= f.label :email %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </span>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <br>

      <%= f.label :password %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </span>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <br><br>

      <%= f.submit "Create my account", class: "btn btn-danger" %>
    <% end %>

    <br>
    Or
    <%= link_to "Sign Up Now!", login_path %>

  </div>
</div>
