<% chat_messages = ChatMessage.where(jam_session_id: jam_session.id) %>

<div class="modal fade" id="modal-for-chat_message:<%= jam_session.id %>" title="Log In">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<div>
					<h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          	<span aria-hidden="true">&times;</span>
	        	</button>
						<small>
							<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
							Jam Session
						</small>
					</h4>
				</div>

				<h3>
					Chat
				</h3>
			</div>

			<div class="modal-body">
				<% @jam_session = jam_session %>
				<%= render 'chat_messages/form', chat_message: ChatMessage.new, jam_session: @jam_session %>
			  <br>
				<%= render 'chat_messages/messages', chat_messages: chat_messages, jam_session: @jam_session %>
			</div>

			<div class="modal-footer">

			</div>

		</div>
	</div>

	<script>
		$(function() {
			$('#post-<%= jam_session.id %>').click(function() {
				$('#messages-start-<%= jam_session.id %>')
				.prepend(function() {
					return "<div>• ME:  " + $('#content-<%= jam_session.id %>').val().toString() + "</div>";
				});
			});
		});
	</script>

</div>
