<br>
<div class="row">
  <div class="col-md-offset-1">
		<div class='text-left'>
			<strong>
				<% user = User.find(message.author_id) %>
        <%= image_tag user.avatar.url(:thumb), class: "img-circle", style: "width: 20px; height: 20px;" %>
        <%= render 'users/user_profile_modal', user: user %>
				<% if current_user.id == user.id %>
          <%= link_to 'Me', "#modal-for-user-#{user.id}", "data-dismiss" => "modal", "data-toggle" => "modal" %>
				<% else %>
          <%= link_to user.name, "#modal-for-user-#{user.id}", "data-toggle" => "modal" %>
				<% end %>

			</strong>

			on <em><%= message.created_at.strftime("%A, %b. %d, %Y, at %I:%M %p") %></em>

			<br><br>
			<blockquote class="blockquote">
				<% if message.content.length == 1 %>
					<h1 class='text-left'>
						<%= message.content %>
					</h1>
				<% else %>
					<%= message.content %>
				<% end %>
			</blockquote>
		</div>
	</div>
</div><br>
<%= render 'users/user_profile_modal', user: user %>
