<p id="notice"><%= notice %></p>

<h1>Chat Messages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Author</th>
      <th>Jam session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chat_messages.each do |chat_message| %>
      <tr>
        <td><%= chat_message.content %></td>
        <td><%= chat_message.author_id %></td>
        <td><%= chat_message.jam_session_id %></td>
        <td><%= link_to 'Show', chat_message %></td>
        <td><%= link_to 'Edit', edit_chat_message_path(chat_message) %></td>
        <td><%= link_to 'Destroy', chat_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat Message', new_chat_message_path %>
